<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
</head>
<body>
    <!-- this line get the question -->
    <h1>{{ question.question_text }}</h1>
    <!-- show error if something worng with question -->
    {% if error_message %} 
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <!-- form data going to views.py where it recieved the vote method. go there and see the rest -->
    <form action="{% url 'polls:vote' question.id %}" method="POST">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br><br>
        {% endfor %}
        <input type="submit" value="Vote">
    </form>

    <!-- At first printed this for showing the choice  -->
    <!-- <ul>
        {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
        {% endfor %}
    </ul> -->
</body>

</html>