<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questions List</title>
</head>
<body>
    <!-- get the qustion list here if its have  -->
    {% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
        <!-- in this case polls after url is definded in polls/urls.py as the app name which is in this case polls -->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No polls are available.</p>
    {% endif %}
</body>
</html>